pipeline/PL_FOREACH_FILE.json
{
	"name": "PL_FOREACH_FILE",
	"properties": {
		"activities": [
			{
				"name": "FOR_EACH_FOLDER",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.DIR_NAME",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Validate_files",
							"type": "Validation",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "ds_b_foreach_ip",
									"type": "DatasetReference"
								},
								"timeout": "0.00:01:00",
								"sleep": 10
							}
						},
						{
							"name": "COPY_FILES_TO_FOLDERS",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Validate_files",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_b_foreach_ip",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_b_foreach_op",
									"type": "DatasetReference",
									"parameters": {
										"DIR_NAME": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"DIR_NAME": {
				"type": "array",
				"defaultValue": [
					"FOLDER_1",
					"FOLDER_2",
					"FOLDER_3",
					"FOLDEFR_4"
				]
			}
		},
		"folder": {
			"name": "scarface"
		},
		"annotations": [],
		"lastPublishTime": "2025-10-27T07:59:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}